@import '~react-toastify/dist/ReactToastify.css';

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  width: 100%;
  height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-font-smoothing: antialiased;
  font-family: 'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI',
    -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
}

#root {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

ul.pagination {
  cursor: pointer;
  text-decoration: none;
}

ul.pagination li {
  display: inline;
}

ul.pagination li a {
  color: black;
  float: left;
  padding: 10px 20px;
  text-decoration: none;
  background: #ababab;
}

ul.pagination li.active a {
  background-color: #424242;
  color: #fff;
}

.pagination a:hover:not(.active) {
  background-color: #424242;
}

.full-flex {
  flex: 1;
  display: flex;
}

.full-height {
  height: 100%;
}

.logo-image {
  height: 150px;
  padding-top: 30px;
}

.login-btn {
  font-size: 16px;
  padding: 15px;
}

.leaflet-container {
  height: 420px;
  width: 100%;
}

ul.pagination {
  cursor: pointer;
  text-decoration: none;
}

ul.pagination li {
  display: inline;
}

ul.pagination li a {
  color: black;
  float: left;
  padding: 10px 20px;
  text-decoration: none;
  background: #ababab;
}

ul.pagination li.active a {
  background-color: #424242;
  color: #fff;
}

.pagination a:hover:not(.active) {
  background-color: #424242;
}

.no-image {
  height: 20px;
}

.m-t-75 {
  margin-top: 75px;
}

.m-t-60 {
  margin-top: 60px;
}

.m-t-50 {
  margin-top: 50px;
}

.m-t-40 {
  margin-top: 40px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-l-20 {
  margin-left: 20px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-l-10 {
  margin-left: 10px;
}

.p-l-10 {
  padding-left: 10px;
}

.p-l-20 {
  padding-left: 20px;
}

.p-r-20 {
  padding-right: 20px;
}

.ms-Breadcrumb {
  margin-top: 0 !important;
  height: 34px;
}

.ms-Breadcrumb-itemLink,
.ms-Breadcrumb-item {
  font-size: 14px !important;
}

.ms-Breadcrumb-itemLink:hover {
  background: none !important;
}

.ms-DetailsHeader {
  background-color: #ababab !important;
  text-transform: uppercase;
  border: 0 !important;
  padding: 0 !important;
  display: flex;
}

.ms-DetailsRow-cell {
  height: 25px !important;
  vertical-align: middle !important;
}

.ms-DetailsHeader-cell:hover,
.ms-DetailsHeader-cellTitle:hover {
  background: #c3c3c3 !important;
}

.inner-page-panel {
  position: relative;
  margin-top: 50px;
  width: 100%;
  background-color: #eaeaea;
}

.inner-page-menu {
  position: relative;
  padding-top: 5px;
  margin-bottom: 5px;
}

.inner-page-menu-message {
  position: absolute;
  width: 100%;
}

.form-panel {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #e9ebef;
}

.show-panel {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #e9ebef;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 30px;
}

.show-panel-block {
  background-color: #dcdee1;
  padding: 5px 20px 10px 20px;
  margin-right: 0 !important;
}

.show-panel-block-heading {
  margin-top: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #424242;
  margin-bottom: 0;
}

.widget-block-heading {
  margin-top: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #b2b3b7;
  margin-bottom: 10px;
}

.show-panel-button {
  margin-top: 20px;
  margin-right: 25px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #fa8c15;
}

.form-custom {
  margin: 15px 35px 50px 15px;
}

.show-panel-data {
  margin: 15px 35px 50px 15px;
  padding-top: 10px;
  font-size: 14px;
}

.section-heading {
  margin-top: 25px;
  padding-bottom: 0;
  border-bottom: 1px dotted #424242;
  margin-bottom: 10px;
}

.section-heading-green {
  margin-top: 25px;
  padding-bottom: 5px;
  border-bottom: 1px solid #79ac3f;
  margin-bottom: 20px;
}

.section-heading-purple {
  margin-top: 25px;
  padding-bottom: 5px;
  border-bottom: 1px solid #890e4f;
  margin-bottom: 20px;
}

.section-button {
  margin-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #424242;
  text-align: right !important;
}

.section-button-green {
  margin-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #79ac3f;
  text-align: right !important;
}

.section-button-purple {
  margin-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #890e4f;
  text-align: right !important;
}

.primary-btn {
  text-transform: uppercase;
  padding: 15px;
}

.ms-Grid-col {
  margin-bottom: 10px;
}

.pull-right {
  text-align: right;
}

.pull-left {
  text-align: left;
}

.text-large {
  font-size: 26px;
  font-style: italic;
}

.text-medium {
  font-size: 18px;
  font-style: italic;
}

.row-item-label {
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 600;
  text-align: right;
}

.row-item-data {
  background-color: #dcdee1;
  padding-top: 5px;
  padding-bottom: 5px;
}

.bg-light-blue {
  background-color: #3c8dbc;
}

.bg-aqua {
  background-color: #00c0ef;
}

.bg-teal {
  background-color: #39cccc;
}

.bg-orange {
  background-color: #ff851b;
}

.bg-red {
  background-color: #dd4b39;
}

.bg-yellow {
  background-color: #fdcb33;
}

.bg-maroon {
  background-color: #d81b60;
}

.bg-purple {
  background-color: #605ca8;
}

.info-box {
  background: #fff;
  display: block;
  min-height: 124px;
  width: 100%;
  margin-bottom: 15px;
}

.info-box-icon {
  display: block;
  float: left;
  height: 173px;
  width: 90px;
  text-align: center;
  font-size: 45px;
  line-height: 173px;
  color: #fff;
}

.info-box-content {
  padding: 5px 10px;
  margin-left: 90px;
}

.info-box-content-divider {
  border-bottom: 1px dotted #c2c4c7;
  margin-bottom: 5px;
}

.info-box-text {
  display: block;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
}

.info-box-number {
  font-weight: 500;
  font-size: 26px;
  display: block;
}

.document-card-selected {
  background: #abababad;
  box-shadow: none !important;
  border: 0 !important;
}
.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:hover {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
}

.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-success:hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}

.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
}

.ms-Persona-comments {
  background: #e9ebef;
  height: 100%;
  margin-top: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
